a {
  text-decoration: none !important;
}

.App {
  font-family: Avenir Next;
}

@media (max-width: 992px) {
  .hideNav {
    display: none;
  }

  .fillScreen,
  .searchBar {
    width: 100% !important;
  }
  .userDetailsHeader,
  .userInfo {
    display: block;
  }
  .activateButton,
  .blacklistButton {
    height: auto !important;
  }
}

.active {
  background-color: rgb(57, 205, 204, 0.06);
  padding: 15px 0px;
  border-left: 3px solid rgb(57, 205, 204);
}

.searchBar {
  width: 400px !important;
  height: 40px !important;
}

.cardContainer {
  padding: 30px 20px 30px 30px;
  box-shadow: 3px 5px 20px 0px #0000000a;
  background-color: white;
}

.blacklistButton {
  border: 1px solid #e4033b;
  color: #e4033b;
  padding: 12px 16px;
  margin-right: 20px;
  width: 170px;
  height: 40px;
}

.activateButton {
  border: 1px solid #39cdcc;
  color: #39cdcc;
  padding: 12px 16px;
  width: 170px;
  height: 40px;
}

.userInfoWrapper {
  margin-bottom: 51px;
}

.userInfoHeader {
  font-size: 12px;
  font-weight: 400;
  color: #545f7d;
  margin-bottom: 8px;
}

.userInfoBody {
  color: #545f7d;
  font-size: 16px;
  font-weight: 500;
}
